<!-- <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/Bk5AO12naju/"
  data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
</blockquote>

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BjOMDnqBDqK/"
  data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
</blockquote> -->

<!-- <div class="dashboard"> -->
  <!-- <div class="row">
    <div class="col-sm" *ngFor="let team of teams"> -->
      <blockquote class="instagram-media" data-instgrm-captioned [attr.data-instgrm-permalink]="team.post" data-instgrm-version="8"
        style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"
        *ngFor="let team of teams">
      </blockquote>
      <!-- <div class="card">
        <div class="card-body text-right">
          <h5 class="card-title text-left">{{team.name}}</h5>
          <p class="card-text text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis fringilla est eleifend faucibus. Phasellus ac orci quis ipsum pulvinar tempus dapibus eget nulla.</p>
          <a routerLink="/detail/{{team.id}}" class="btn btn-primary">Ver más -></a>
        </div>
      </div> -->
    <!-- </div>
  </div> -->
<!-- </div> -->