<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Mapa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teams">Equipos</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="text-muted">
  <div class="container">
    <hr />
    <p class="float-right">
      Un proyecto de <a href="https://www.gregaria.com.ar" target="_blank">Gregaria</a>
    </p>
  </div>
</footer>