<div *ngIf="team">
  <h2 class="text-center">{{ team.name | uppercase }}</h2>
  <p>
    {{team.description}}
  </p>
  <div class="row">
    <div class="col-md-6">
      <owl-carousel [options]="carouselOptions" [items]="team.images" [carouselClasses]="['owl-theme', 'sliding']">
        <div class="item" *ngFor="let image of team.images">
          <div class="thumbnail-image" *ngIf="!isVideo(image)">
            <img src="{{image}}" alt="{{team.name}}">
          </div>
          <div *ngIf="isVideo(image)" class="item-video">
            <a class="owl-video" href="{{image}}"></a>
          </div>
        </div>
      </owl-carousel>
    </div>
    <div class="col-md-6">
      <agm-map [latitude]="team.marker.lat" [longitude]="team.marker.lng" [zoom]="15">
        <agm-marker [latitude]="team.marker.lat" [longitude]="team.marker.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>