@import "bootstrap/scss/bootstrap-grid.scss";

agm-map {
  height: 500px;

  @include media-breakpoint-down(xs) {
    height: 250px;

    .card-body {
      max-width: 250px;
    }
  }
}

owl-carousel {
  .item {
    height: 500px;

    .item-video {
      height: 100%;
    }

    .thumbnail-image {
      img {
        height: 500px;
      }
    }
    @include media-breakpoint-down(xs) {
      height: 250px;

      .thumbnail-image {
        img {
          height: 250px;
        }
      }
    }
  }
}
