.gallery-block {
  &.grid-gallery {
    padding-bottom: 60px;
    padding-top: 60px;

    .heading {
      margin-bottom: 50px;
      text-align: center;

      h2 {
        font-weight: bold;
        font-size: 1.4rem;
        text-transform: uppercase;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .item {
      margin-bottom: 20px;

      img {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        transition: 0.4s;
      }
    }
  }
}

@media (min-width: 576px) {
  .gallery-block.grid-gallery .scale-on-hover:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}

agm-map {
  height: 300px;
}